<!DOCTYPE html>
<html>
  <head>
    <title>Ejercicio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <H1>Hola soy un layaout</h1>
  <p>asdadasd parraffo</p>
    <%= yield %>
  </body>
</html>
